<div class="cont">
  <div class="social">
    <article class="one">
      <h1>A.F</h1>
      <p>
        Hello stranger!!!. This is my portfolio with also propjects.
        theses projects are created with: HTML, Css, JavaScript, Angular,
        Bootstrap, Scss, .NET & Sql-Server.
      </p>
    </article>

    <article class="two">
      <a href="#" target="_blank">Linkedin</a>
      <a href="mailto:andersonfrias001@gmail.com" type="email">Email</a>
      <a href="https://github.com/anderj14" target="_blank">Repository</a>
    </article>

  </div>

  <div class="pages">
    <div class="blog">
      <img src="../../assets/img/blog.jpg" alt="" routerLink="blog">
    </div>
    <div class="change-color">
      <img src="../../assets/img/color.jpg" alt="" routerLink="change-color">
    </div>
    <div class="ecommerce">
      <img src="../../assets/img/ecommerce.jpg" alt="" routerLink="ecommerce">
    </div>
    <div class="page">
      <img src="../../assets/img/page.jpg" alt="" routerLink="page">
    </div>
    <div class="shopping-cart">
      <img src="../../assets/img/shoppingCart.jpg" alt="" routerLink="shopping-cart">
    </div>
    <div class="todo">
      <img src="../../assets/img/todo.jpg" alt="" routerLink="todo">
    </div>
    <div class="your-name">
      <img src="../../assets/img/name.jpg" alt="" routerLink="your-name">
    </div>

  </div>
</div>

