<a routerLink="/" class="home">Home</a>

<div class="container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/img/shoppingCart.jpg" alt="blog" />
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/shoppingCart.jpg" alt="blog" />
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/shoppingCart.jpg" alt="blog" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
    </button>
  </div>

  <article>
    <div class="title">
      <h1>SHOPPING CART</h1>
      <h3>Ingredients:</h3>
      <ul>
        <li>Html</li>
        <li>Css</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>

      </ul>
    </div>

    <div class="options">
      <a href="#">
        <i class="fa-brands fa-github"></i> Repository
      </a>
      <a href="#">
        <i class="fa-solid fa-eye"></i> View
      </a>
    </div>
  </article>
</div>
